<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Signup Page</title>
  <link rel="stylesheet" href="/css/login.css" />
  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
</head>
<body>
  <div class="container">
    <div class="img">
      <img src="/images/pc.svg" alt="Signup Image" />
    </div>
    <div class="signup-container">
      <form action="/signup" method="POST">
        <img class="avator" src="/images/avator.svg" alt="Avatar" />
        <h2>Join Us</h2>
        <div class="input-div one">
          <div class="i">
            <i class="fas fa-user"></i>
          </div>
          <div>
            <h5>Username</h5>
            <input class="input" type="text" name="username" required />
          </div>
        </div>
        <div class="input-div two">
          <div class="i">
            <i class="fas fa-envelope"></i>
          </div>
          <div>
            <h5>Email</h5>
            <input class="input" type="email" name="email" required />
          </div>
        </div>
        <div class="input-div three">
          <div class="i">
            <i class="fas fa-lock"></i>
          </div>
          <div>
            <h5>Password</h5>
            <input class="input" type="password" name="password" required />
          </div>
        </div>
        <div class="input-div four">
          <div class="i">
            <i class="fas fa-lock"></i>
          </div>
          <div>
            <h5>Confirm Password</h5>
            <input class="input" type="password" name="confirm_password" required />
          </div>
        </div>
        <input type="submit" class="btn" value="Sign Up" />
      </form>
    </div>
  </div>
  <script type="text/javascript" src="/js/login.js"></script>
</body>
</html>
